#u8530-4
{
	font-family: raleway-n3, sans-serif;
}

#u8537-4
{
	font-family: raleway-n3, sans-serif;
}

#u8544-4
{
	font-family: raleway-n3, sans-serif;
}

#u8518-4
{
	font-family: raleway-n3, sans-serif;
}

#u8523-4
{
	font-family: raleway-n3, sans-serif;
}

#u8550-4
{
	font-family: raleway-n3, sans-serif;
}

#u6285-4
{
	font-family: raleway-n3, sans-serif;
}

#u6207-4
{
	font-family: open-sans-n7, sans-serif;
}

#u6212-4,#u6215-4,#u6213-4,#u6216-4,#u6214-4,#u6218-4
{
	font-family: raleway-n3, sans-serif;
}

#u6217-4,#u6220-4
{
	font-family: raleway-n4, sans-serif;
}

#u6222-4
{
	font-family: raleway-n3, sans-serif;
}

