.version.works_11 /* version checker */
{
	color: #000003;
	background-color: #327EAE;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #181818;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 509.5999999999997px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #181818;
	padding-top: 60px;
	padding-bottom: 0px;
}

#u8891
{
	z-index: 92;
	width: 80px;
	height: 60px;
	position: fixed;
	top: 0px;
	left: 0px;
	background: transparent url("../../images/logo-white.png") no-repeat center center;
}

#u8890
{
	z-index: 91;
	height: 59px;
	border-style: solid;
	border-color: #181818;
	background-color: #292929;
	border-width: 0px 0px 1px;
}

#u8890-bw
{
	z-index: 91;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#pamphletu8892
{
	z-index: 93;
	width: 0.01px;
	height: 54px;
	padding-bottom: 289px;
	position: fixed;
	top: 0px;
	left: 190px;
}

#u8901
{
	position: absolute;
	width: 190px;
	top: 60px;
}

#u8901popup
{
	z-index: 94;
}

#u8902
{
	z-index: 95;
	width: 190px;
	height: 283px;
	border-style: none;
	border-color: #999999;
	background-color: #333333;
	background-color: rgba(41,41,41,0.95);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,41,41,0.95);
}

#menuu8903
{
	z-index: 96;
	width: 185px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 2px;
}

#u8918
{
	width: 185px;
	background-color: transparent;
	position: relative;
}

#u8919
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u8922-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8919:hover #u8922-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8919:hover #u8922-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8926
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8919.MuseMenuActive,#u8926:hover
{
	width: 185px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8929-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8919.MuseMenuActive #u8922-4,#u8926:hover #u8929-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8919.MuseMenuActive #u8922-4 p,#u8926:hover #u8929-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8935
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8936-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8926.MuseMenuActive #u8929-4,#u8935:hover #u8936-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8926.MuseMenuActive #u8929-4 p,#u8935:hover #u8936-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8907
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8910-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8935.MuseMenuActive #u8936-4,#u8907:hover #u8910-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8935.MuseMenuActive #u8936-4 p,#u8907:hover #u8910-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8912
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8915-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8907.MuseMenuActive #u8910-4,#u8912:hover #u8915-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8907.MuseMenuActive #u8910-4 p,#u8912:hover #u8915-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8925,#u8932,#u8904,#u8911,#u8939
{
	width: 185px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u8940
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8926.MuseMenuActive,#u8935.MuseMenuActive,#u8907.MuseMenuActive,#u8912.MuseMenuActive,#u8940.MuseMenuActive
{
	width: 185px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8942-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8912.MuseMenuActive #u8915-4,#u8940:hover #u8942-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8940.MuseMenuActive #u8942-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8912.MuseMenuActive #u8915-4 p,#u8940:hover #u8942-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8940.MuseMenuActive #u8942-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8898
{
	z-index: 133;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 133px;
}

#u8899
{
	position: absolute;
	width: 75px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 7px;
	top: -8px;
	left: -18px;
}

#u8899.PamphletThumbSelected
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u8900
{
	z-index: 136;
	height: 46px;
	width: 40px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 18px;
	background: url("../../images/u8900.png") no-repeat 0px 0px;
}

#u8899:hover #u8900
{
	background: url("../../images/u8900-r.png") no-repeat 0px 0px;
}

#u8899.PamphletThumbSelected #u8900
{
	background: url("../../images/u8900-a.png") no-repeat 0px 0px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u6869
{
	z-index: 3;
	min-height: 440px;
	background: transparent url("../../images/11.jpg") no-repeat center center;
	background-size: cover;
}

#work
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 381px;
}

#buttonu6870
{
	z-index: 4;
	width: 170px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 315px;
	left: 105px;
}

#buttonu6870.ButtonSelected
{
	width: 170px;
	min-height: 0px;
	margin: 315px -10000px 0px 0px;
}

#buttonu6870_position_content
{
	padding-bottom: 20px;
}

#u6872
{
	z-index: 5;
	width: 76px;
	height: 50px;
	margin-left: 47px;
	position: relative;
	background: transparent url("../../images/scroll-down.gif") no-repeat center center;
}

#buttonu6870.ButtonSelected #u6872
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 76px;
	height: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 47px;
}

#u6871-4
{
	z-index: 6;
	width: 170px;
	min-height: 17px;
	background-color: transparent;
	line-height: 12px;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-top: 8px;
	position: relative;
}

#buttonu6870.ButtonSelected #u6871-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 170px;
	margin: 8px 0px 0px;
}

#u6873-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	margin-left: 70px;
	margin-top: 1px;
	position: relative;
}

#u6869-bw
{
	z-index: 3;
	min-height: 440px;
}

#u6868
{
	z-index: 2;
	min-height: 84px;
	background-color: #101010;
	padding-bottom: 36px;
}

#u6875-4
{
	z-index: 15;
	width: 200px;
	min-height: 35px;
	background-color: transparent;
	line-height: 26px;
	color: #EEEEEE;
	font-size: 22px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 90px;
}

#u6868-bw
{
	z-index: 2;
	min-height: 84px;
}

#u6876
{
	z-index: 20;
	position: relative;
	width: 42px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 318px;
}

#u6876_states
{
	height: 50px;
	width: 42px;
	vertical-align: top;
	background: url("../../images/u6876_states.png") no-repeat 0px 0px;
}

#u6876:hover #u6876_states
{
	background: url("../../images/u6876_states-r.png") no-repeat 0px 0px;
}

#u6905
{
	z-index: 89;
	position: relative;
	width: 42px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 20px;
}

#u6905_states
{
	height: 50px;
	width: 42px;
	vertical-align: top;
	background: url("../../images/u6905_states.png") no-repeat 0px 0px;
}

#u6905:hover #u6905_states
{
	background: url("../../images/u6905_states-r.png") no-repeat 0px 0px;
}

#pamphletu6894
{
	z-index: 78;
	width: 0.01px;
	height: 220px;
	margin-left: 20px;
	margin-top: 100px;
	position: relative;
}

#u6903
{
	z-index: 79;
	width: 340px;
	position: relative;
	margin-right: -10000px;
}

#u6904
{
	position: absolute;
	width: 340px;
	height: 220px;
	border-style: none;
	background: transparent url("../../images/2-u6904-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u6904:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	width: 340px;
	height: 220px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u6899
{
	position: absolute;
	width: 342px;
	background-color: #3E3E3E;
	background-color: rgba(41,41,41,0.9);
	padding-bottom: 44px;
	top: -70px;
	left: -1px;
	-pie-background: rgba(41,41,41,0.9);
}

#u6899popup
{
	z-index: 81;
}

#u6900
{
	z-index: 82;
	width: 298px;
	height: 271px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/2-u6900-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u6897
{
	position: absolute;
	width: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #292929;
	border-radius: 100px;
	padding-bottom: 5px;
	top: -59px;
	left: 302px;
}

#u6897:hover
{
	background-color: #20CA9C;
	width: 29px;
	min-height: 0px;
	margin: 0px;
}

#u6898-4
{
	z-index: 84;
	width: 20px;
	min-height: 22px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 5px;
}

#ppu6877
{
	width: 0.01px;
	margin-top: 62px;
}

#u6877
{
	z-index: 23;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u6877.png") no-repeat 0px 0px;
}

#u6877:hover
{
	background: url("../../images/u6877-r.png") no-repeat 0px 0px;
}

#u6880-4
{
	z-index: 31;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u6883-4
{
	z-index: 43;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#ppu6878
{
	width: 0.01px;
	margin-top: 29px;
}

#u6878
{
	z-index: 26;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u6878.png") no-repeat 0px 0px;
}

#u6878:hover
{
	background: url("../../images/u6878-r.png") no-repeat 0px 0px;
}

#u6881-4
{
	z-index: 35;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u6884-4
{
	z-index: 47;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#ppu6879
{
	width: 0.01px;
	margin-top: 28px;
}

#u6879
{
	z-index: 29;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u6879.png") no-repeat 0px 0px;
}

#u6879:hover
{
	background: url("../../images/u6879-r.png") no-repeat 0px 0px;
}

#u6882-4
{
	z-index: 39;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u6886-4
{
	z-index: 55;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#u6886-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 276px;
	margin: 15px 0px 0px 36px;
}

#u6886-4:hover p
{
	text-decoration: underline;
}

#u6887
{
	z-index: 59;
	width: 330px;
	height: 8px;
	border-style: solid;
	border-color: #EEEEEE;
	background-color: transparent;
	margin-left: 30px;
	margin-top: 17px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u6885-4
{
	z-index: 51;
	width: 318px;
	min-height: 114px;
	background-color: transparent;
	line-height: 22px;
	color: #B2B2B2;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 34px;
	margin-top: 34px;
	position: relative;
}

#u6888-4
{
	z-index: 60;
	min-height: 70px;
	background-color: #292929;
	border-radius: 1px;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

#u6888-4:hover
{
	background-color: #20CA9C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 70px;
	margin: 0px;
}

#u6888-2
{
	padding-top: 25px;
}

#u6888-4-bw
{
	z-index: 60;
	min-height: 70px;
	margin-top: 49px;
}

#pu6868,#pu6889
{
	width: 0.01px;
}

#u6889
{
	z-index: 64;
	min-height: 59px;
	background-color: transparent;
	padding-bottom: 61px;
}

#u6890-4
{
	z-index: 65;
	width: 340px;
	min-height: 31px;
	background-color: transparent;
	line-height: 29px;
	color: #EDEDED;
	font-size: 13px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 20px;
}

#u6889-bw
{
	z-index: 64;
	min-height: 59px;
}

#u6891
{
	z-index: 70;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 120px;
	background: url("../../images/u6891.png") no-repeat 0px 0px;
}

#u6891:hover
{
	background: url("../../images/u6891-r.png") no-repeat 0px 0px;
}

#u6892
{
	z-index: 73;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 173px;
	background: url("../../images/u6892.png") no-repeat 0px 0px;
}

#u6892:hover
{
	background: url("../../images/u6892-r.png") no-repeat 0px 0px;
}

#u6893
{
	z-index: 76;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 226px;
	background: url("../../images/u6893.png") no-repeat 0px 0px;
}

#u6893:hover
{
	background: url("../../images/u6893-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

