.version.works_10 /* version checker */
{
	color: #0000FB;
	background-color: #91D713;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #181818;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 509.5999999999997px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #181818;
	padding-top: 60px;
	padding-bottom: 0px;
}

#u8835
{
	z-index: 101;
	width: 80px;
	height: 60px;
	position: fixed;
	top: 0px;
	left: 0px;
	background: transparent url("../../images/logo-white.png") no-repeat center center;
}

#u8834
{
	z-index: 100;
	height: 59px;
	border-style: solid;
	border-color: #181818;
	background-color: #292929;
	border-width: 0px 0px 1px;
}

#u8834-bw
{
	z-index: 100;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#pamphletu8836
{
	z-index: 102;
	width: 0.01px;
	height: 54px;
	padding-bottom: 289px;
	position: fixed;
	top: 0px;
	left: 190px;
}

#u8845
{
	position: absolute;
	width: 190px;
	top: 60px;
}

#u8845popup
{
	z-index: 103;
}

#u8846
{
	z-index: 104;
	width: 190px;
	height: 283px;
	border-style: none;
	border-color: #999999;
	background-color: #333333;
	background-color: rgba(41,41,41,0.95);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,41,41,0.95);
}

#menuu8847
{
	z-index: 105;
	width: 185px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 2px;
}

#u8862
{
	width: 185px;
	background-color: transparent;
	position: relative;
}

#u8863
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u8866-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8863:hover #u8866-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8863:hover #u8866-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8870
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8863.MuseMenuActive,#u8870:hover
{
	width: 185px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8873-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8863.MuseMenuActive #u8866-4,#u8870:hover #u8873-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8863.MuseMenuActive #u8866-4 p,#u8870:hover #u8873-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8879
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8880-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8870.MuseMenuActive #u8873-4,#u8879:hover #u8880-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8870.MuseMenuActive #u8873-4 p,#u8879:hover #u8880-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8851
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8854-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8879.MuseMenuActive #u8880-4,#u8851:hover #u8854-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8879.MuseMenuActive #u8880-4 p,#u8851:hover #u8854-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8856
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8859-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8851.MuseMenuActive #u8854-4,#u8856:hover #u8859-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8851.MuseMenuActive #u8854-4 p,#u8856:hover #u8859-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8869,#u8876,#u8848,#u8855,#u8883
{
	width: 185px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u8884
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8870.MuseMenuActive,#u8879.MuseMenuActive,#u8851.MuseMenuActive,#u8856.MuseMenuActive,#u8884.MuseMenuActive
{
	width: 185px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8886-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8856.MuseMenuActive #u8859-4,#u8884:hover #u8886-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8884.MuseMenuActive #u8886-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8856.MuseMenuActive #u8859-4 p,#u8884:hover #u8886-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8884.MuseMenuActive #u8886-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8842
{
	z-index: 142;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 133px;
}

#u8843
{
	position: absolute;
	width: 75px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 7px;
	top: -8px;
	left: -18px;
}

#u8843.PamphletThumbSelected
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u8844
{
	z-index: 145;
	height: 46px;
	width: 40px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 18px;
	background: url("../../images/u8844.png") no-repeat 0px 0px;
}

#u8843:hover #u8844
{
	background: url("../../images/u8844-r.png") no-repeat 0px 0px;
}

#u8843.PamphletThumbSelected #u8844
{
	background: url("../../images/u8844-a.png") no-repeat 0px 0px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u6775
{
	z-index: 3;
	min-height: 440px;
	background: transparent url("../../images/10.jpg") no-repeat center center;
	background-size: cover;
}

#work
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 381px;
}

#buttonu6776
{
	z-index: 4;
	width: 170px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 315px;
	left: 105px;
}

#buttonu6776.ButtonSelected
{
	width: 170px;
	min-height: 0px;
	margin: 315px -10000px 0px 0px;
}

#buttonu6776_position_content
{
	padding-bottom: 20px;
}

#u6778
{
	z-index: 5;
	width: 76px;
	height: 50px;
	margin-left: 47px;
	position: relative;
	background: transparent url("../../images/scroll-down.gif") no-repeat center center;
}

#buttonu6776.ButtonSelected #u6778
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 76px;
	height: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 47px;
}

#u6777-4
{
	z-index: 6;
	width: 170px;
	min-height: 17px;
	background-color: transparent;
	line-height: 12px;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-top: 8px;
	position: relative;
}

#buttonu6776.ButtonSelected #u6777-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 170px;
	margin: 8px 0px 0px;
}

#u6779-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	margin-left: 70px;
	margin-top: 1px;
	position: relative;
}

#u6775-bw
{
	z-index: 3;
	min-height: 440px;
}

#u6774
{
	z-index: 2;
	min-height: 84px;
	background-color: #101010;
	padding-bottom: 36px;
}

#u6781-4
{
	z-index: 15;
	width: 200px;
	min-height: 35px;
	background-color: transparent;
	line-height: 26px;
	color: #EEEEEE;
	font-size: 22px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 90px;
}

#u6774-bw
{
	z-index: 2;
	min-height: 84px;
}

#u6782
{
	z-index: 20;
	position: relative;
	width: 42px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 318px;
}

#u6782_states
{
	height: 50px;
	width: 42px;
	vertical-align: top;
	background: url("../../images/u6782_states.png") no-repeat 0px 0px;
}

#u6782:hover #u6782_states
{
	background: url("../../images/u6782_states-r.png") no-repeat 0px 0px;
}

#u6811
{
	z-index: 79;
	position: relative;
	width: 42px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 20px;
}

#u6811_states
{
	height: 50px;
	width: 42px;
	vertical-align: top;
	background: url("../../images/u6811_states.png") no-repeat 0px 0px;
}

#u6811:hover #u6811_states
{
	background: url("../../images/u6811_states-r.png") no-repeat 0px 0px;
}

#pamphletu7081
{
	z-index: 81;
	width: 0.01px;
	height: 252px;
	margin-left: 20px;
	margin-top: 100px;
	position: relative;
}

#u7086
{
	z-index: 82;
	width: 81px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 230px;
	left: 130px;
}

#u7088
{
	position: absolute;
	width: 19px;
	height: 21px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
}

#u7088:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 19px;
	height: 21px;
	min-height: 0px;
	margin: 0px;
}

#u7089
{
	position: absolute;
	width: 19px;
	height: 21px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	left: 30px;
}

#u7089:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 19px;
	height: 21px;
	min-height: 0px;
	margin: 0px;
}

#u7087
{
	position: absolute;
	width: 19px;
	height: 21px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	left: 60px;
}

#u7087:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 19px;
	height: 21px;
	min-height: 0px;
	margin: 0px;
}

#u7088.PamphletThumbSelected,#u7089.PamphletThumbSelected,#u7087.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #292929;
	width: 19px;
	height: 21px;
	min-height: 0px;
	margin: 0px;
}

.js #u7088.ose_pre_init,.js #u7089.ose_pre_init,.js #u7087.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u7090
{
	position: absolute;
	width: 340px;
	background-color: transparent;
}

#u7090popup
{
	z-index: 86;
}

#u7091
{
	z-index: 87;
	width: 340px;
	height: 220px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/5-u7091-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u7092
{
	z-index: 88;
	width: 340px;
	height: 220px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/6-u6098-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u7093
{
	z-index: 89;
	width: 340px;
	height: 220px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/7-u7093-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u7084
{
	position: absolute;
	width: 28px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 11px;
	top: 85px;
	left: 19px;
}

#u7085-4
{
	z-index: 91;
	width: 20px;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 4px;
}

#u7094
{
	position: absolute;
	width: 28px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 11px;
	top: 85px;
	left: 289px;
}

#u7095-4
{
	z-index: 96;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 4px;
}

#ppu6783
{
	width: 0.01px;
	margin-top: 30px;
}

#u6783
{
	z-index: 23;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u6783.png") no-repeat 0px 0px;
}

#u6783:hover
{
	background: url("../../images/u6783-r.png") no-repeat 0px 0px;
}

#u6786-4
{
	z-index: 31;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u6789-4
{
	z-index: 43;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#ppu6784
{
	width: 0.01px;
	margin-top: 29px;
}

#u6784
{
	z-index: 26;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u6784.png") no-repeat 0px 0px;
}

#u6784:hover
{
	background: url("../../images/u6784-r.png") no-repeat 0px 0px;
}

#u6787-4
{
	z-index: 35;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u6790-4
{
	z-index: 47;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#ppu6785
{
	width: 0.01px;
	margin-top: 28px;
}

#u6785
{
	z-index: 29;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u6785.png") no-repeat 0px 0px;
}

#u6785:hover
{
	background: url("../../images/u6785-r.png") no-repeat 0px 0px;
}

#u6788-4
{
	z-index: 39;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u6792-4
{
	z-index: 55;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#u6792-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 276px;
	margin: 15px 0px 0px 36px;
}

#u6792-4:hover p
{
	text-decoration: underline;
}

#u6793
{
	z-index: 59;
	width: 330px;
	height: 8px;
	border-style: solid;
	border-color: #EEEEEE;
	background-color: transparent;
	margin-left: 30px;
	margin-top: 17px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u6791-4
{
	z-index: 51;
	width: 318px;
	min-height: 114px;
	background-color: transparent;
	line-height: 22px;
	color: #B2B2B2;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 34px;
	margin-top: 34px;
	position: relative;
}

#u6794-4
{
	z-index: 60;
	min-height: 70px;
	background-color: #292929;
	border-radius: 1px;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

#u6794-4:hover
{
	background-color: #20CA9C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 70px;
	margin: 0px;
}

#u6794-2
{
	padding-top: 25px;
}

#u6794-4-bw
{
	z-index: 60;
	min-height: 70px;
	margin-top: 49px;
}

#pu6774,#pu6795
{
	width: 0.01px;
}

#u6795
{
	z-index: 64;
	min-height: 59px;
	background-color: transparent;
	padding-bottom: 61px;
}

#u6796-4
{
	z-index: 65;
	width: 340px;
	min-height: 31px;
	background-color: transparent;
	line-height: 29px;
	color: #EDEDED;
	font-size: 13px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 20px;
}

#u6795-bw
{
	z-index: 64;
	min-height: 59px;
}

#u6797
{
	z-index: 70;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 120px;
	background: url("../../images/u6797.png") no-repeat 0px 0px;
}

#u6797:hover
{
	background: url("../../images/u6797-r.png") no-repeat 0px 0px;
}

#u6798
{
	z-index: 73;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 173px;
	background: url("../../images/u6798.png") no-repeat 0px 0px;
}

#u6798:hover
{
	background: url("../../images/u6798-r.png") no-repeat 0px 0px;
}

#u6799
{
	z-index: 76;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 226px;
	background: url("../../images/u6799.png") no-repeat 0px 0px;
}

#u6799:hover
{
	background: url("../../images/u6799-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

