.version.works_2 /* version checker */
{
	color: #00000E;
	background-color: #0D18E3;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #181818;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 509.5999999999997px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #181818;
	padding-top: 60px;
	padding-bottom: 0px;
}

#u8387
{
	z-index: 92;
	width: 80px;
	height: 60px;
	position: fixed;
	top: 0px;
	left: 0px;
	background: transparent url("../../images/logo-white.png") no-repeat center center;
}

#u8386
{
	z-index: 91;
	height: 59px;
	border-style: solid;
	border-color: #181818;
	background-color: #292929;
	border-width: 0px 0px 1px;
}

#u8386-bw
{
	z-index: 91;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#pamphletu8388
{
	z-index: 93;
	width: 0.01px;
	height: 54px;
	padding-bottom: 289px;
	position: fixed;
	top: 0px;
	left: 190px;
}

#u8397
{
	position: absolute;
	width: 190px;
	top: 60px;
}

#u8397popup
{
	z-index: 94;
}

#u8398
{
	z-index: 95;
	width: 190px;
	height: 283px;
	border-style: none;
	border-color: #999999;
	background-color: #333333;
	background-color: rgba(41,41,41,0.95);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,41,41,0.95);
}

#menuu8399
{
	z-index: 96;
	width: 185px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 2px;
}

#u8414
{
	width: 185px;
	background-color: transparent;
	position: relative;
}

#u8415
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u8418-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8415:hover #u8418-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8415:hover #u8418-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8422
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8415.MuseMenuActive,#u8422:hover
{
	width: 185px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8425-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8415.MuseMenuActive #u8418-4,#u8422:hover #u8425-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8415.MuseMenuActive #u8418-4 p,#u8422:hover #u8425-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8431
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8432-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8422.MuseMenuActive #u8425-4,#u8431:hover #u8432-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8422.MuseMenuActive #u8425-4 p,#u8431:hover #u8432-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8403
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8406-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8431.MuseMenuActive #u8432-4,#u8403:hover #u8406-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8431.MuseMenuActive #u8432-4 p,#u8403:hover #u8406-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8408
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8411-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8403.MuseMenuActive #u8406-4,#u8408:hover #u8411-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8403.MuseMenuActive #u8406-4 p,#u8408:hover #u8411-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8421,#u8428,#u8400,#u8407,#u8435
{
	width: 185px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u8436
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8422.MuseMenuActive,#u8431.MuseMenuActive,#u8403.MuseMenuActive,#u8408.MuseMenuActive,#u8436.MuseMenuActive
{
	width: 185px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8438-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8408.MuseMenuActive #u8411-4,#u8436:hover #u8438-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8436.MuseMenuActive #u8438-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8408.MuseMenuActive #u8411-4 p,#u8436:hover #u8438-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8436.MuseMenuActive #u8438-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8394
{
	z-index: 133;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 133px;
}

#u8395
{
	position: absolute;
	width: 75px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 7px;
	top: -8px;
	left: -18px;
}

#u8395.PamphletThumbSelected
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u8396
{
	z-index: 136;
	height: 46px;
	width: 40px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 18px;
	background: url("../../images/u8396.png") no-repeat 0px 0px;
}

#u8395:hover #u8396
{
	background: url("../../images/u8396-r.png") no-repeat 0px 0px;
}

#u8395.PamphletThumbSelected #u8396
{
	background: url("../../images/u8396-a.png") no-repeat 0px 0px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u5996
{
	z-index: 3;
	min-height: 440px;
	background: transparent url("../../images/022.jpg") no-repeat center center;
	background-size: cover;
}

#work
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 381px;
}

#buttonu5997
{
	z-index: 4;
	width: 170px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 315px;
	left: 105px;
}

#buttonu5997.ButtonSelected
{
	width: 170px;
	min-height: 0px;
	margin: 315px -10000px 0px 0px;
}

#buttonu5997_position_content
{
	padding-bottom: 20px;
}

#u5999
{
	z-index: 5;
	width: 76px;
	height: 50px;
	margin-left: 47px;
	position: relative;
	background: transparent url("../../images/scroll-down.gif") no-repeat center center;
}

#buttonu5997.ButtonSelected #u5999
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 76px;
	height: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 47px;
}

#u5998-4
{
	z-index: 6;
	width: 170px;
	min-height: 17px;
	background-color: transparent;
	line-height: 12px;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-top: 8px;
	position: relative;
}

#buttonu5997.ButtonSelected #u5998-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 170px;
	margin: 8px 0px 0px;
}

#u6000-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	margin-left: 70px;
	margin-top: 1px;
	position: relative;
}

#u5996-bw
{
	z-index: 3;
	min-height: 440px;
}

#u5995
{
	z-index: 2;
	min-height: 84px;
	background-color: #101010;
	padding-bottom: 36px;
}

#u6002-4
{
	z-index: 15;
	width: 200px;
	min-height: 35px;
	background-color: transparent;
	line-height: 26px;
	color: #EEEEEE;
	font-size: 22px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 90px;
}

#u5995-bw
{
	z-index: 2;
	min-height: 84px;
}

#u6003
{
	z-index: 20;
	position: relative;
	width: 42px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 318px;
}

#u6003_states
{
	height: 50px;
	width: 42px;
	vertical-align: top;
	background: url("../../images/u6003_states.png") no-repeat 0px 0px;
}

#u6003:hover #u6003_states
{
	background: url("../../images/u6003_states-r.png") no-repeat 0px 0px;
}

#u6103
{
	z-index: 89;
	position: relative;
	width: 42px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 20px;
}

#u6103_states
{
	height: 50px;
	width: 42px;
	vertical-align: top;
	background: url("../../images/u6103_states.png") no-repeat 0px 0px;
}

#u6103:hover #u6103_states
{
	background: url("../../images/u6103_states-r.png") no-repeat 0px 0px;
}

#pamphletu6092
{
	z-index: 78;
	width: 0.01px;
	height: 220px;
	margin-left: 20px;
	margin-top: 100px;
	position: relative;
}

#u6097
{
	z-index: 79;
	width: 340px;
	position: relative;
	margin-right: -10000px;
}

#u6098
{
	position: absolute;
	width: 340px;
	height: 220px;
	border-style: none;
	background: transparent url("../../images/6-u6098-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u6098:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	width: 340px;
	height: 220px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u6099
{
	position: absolute;
	width: 342px;
	background-color: #3E3E3E;
	background-color: rgba(41,41,41,0.9);
	padding-bottom: 44px;
	top: -70px;
	left: -1px;
	-pie-background: rgba(41,41,41,0.9);
}

#u6099popup
{
	z-index: 81;
}

#u6100
{
	z-index: 82;
	width: 298px;
	height: 271px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/6-u6100-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u6093
{
	position: absolute;
	width: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #292929;
	border-radius: 100px;
	padding-bottom: 5px;
	top: -59px;
	left: 302px;
}

#u6093:hover
{
	background-color: #20CA9C;
	width: 29px;
	min-height: 0px;
	margin: 0px;
}

#u6094-4
{
	z-index: 84;
	width: 20px;
	min-height: 22px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 5px;
}

#ppu6004
{
	width: 0.01px;
	margin-top: 62px;
}

#u6004
{
	z-index: 23;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u6004.png") no-repeat 0px 0px;
}

#u6004:hover
{
	background: url("../../images/u6004-r.png") no-repeat 0px 0px;
}

#u6022-4
{
	z-index: 31;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u6025-4
{
	z-index: 43;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#ppu6005
{
	width: 0.01px;
	margin-top: 29px;
}

#u6005
{
	z-index: 26;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u6005.png") no-repeat 0px 0px;
}

#u6005:hover
{
	background: url("../../images/u6005-r.png") no-repeat 0px 0px;
}

#u6023-4
{
	z-index: 35;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u6026-4
{
	z-index: 47;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#ppu6006
{
	width: 0.01px;
	margin-top: 28px;
}

#u6006
{
	z-index: 29;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u6006.png") no-repeat 0px 0px;
}

#u6006:hover
{
	background: url("../../images/u6006-r.png") no-repeat 0px 0px;
}

#u6024-4
{
	z-index: 39;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u6028-4
{
	z-index: 55;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#u6028-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 276px;
	margin: 15px 0px 0px 36px;
}

#u6028-4:hover p
{
	text-decoration: underline;
}

#u6029
{
	z-index: 59;
	width: 330px;
	height: 8px;
	border-style: solid;
	border-color: #EEEEEE;
	background-color: transparent;
	margin-left: 30px;
	margin-top: 17px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u6027-4
{
	z-index: 51;
	width: 318px;
	min-height: 114px;
	background-color: transparent;
	line-height: 22px;
	color: #B2B2B2;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 34px;
	margin-top: 34px;
	position: relative;
}

#u6030-4
{
	z-index: 60;
	min-height: 70px;
	background-color: #292929;
	border-radius: 1px;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

#u6030-4:hover
{
	background-color: #20CA9C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 70px;
	margin: 0px;
}

#u6030-2
{
	padding-top: 25px;
}

#u6030-4-bw
{
	z-index: 60;
	min-height: 70px;
	margin-top: 49px;
}

#pu5995,#pu6031
{
	width: 0.01px;
}

#u6031
{
	z-index: 64;
	min-height: 59px;
	background-color: transparent;
	padding-bottom: 61px;
}

#u6032-4
{
	z-index: 65;
	width: 340px;
	min-height: 31px;
	background-color: transparent;
	line-height: 29px;
	color: #EDEDED;
	font-size: 13px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 20px;
}

#u6031-bw
{
	z-index: 64;
	min-height: 59px;
}

#u6033
{
	z-index: 70;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 120px;
	background: url("../../images/u6033.png") no-repeat 0px 0px;
}

#u6033:hover
{
	background: url("../../images/u6033-r.png") no-repeat 0px 0px;
}

#u6034
{
	z-index: 73;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 173px;
	background: url("../../images/u6034.png") no-repeat 0px 0px;
}

#u6034:hover
{
	background: url("../../images/u6034-r.png") no-repeat 0px 0px;
}

#u6035
{
	z-index: 76;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 226px;
	background: url("../../images/u6035.png") no-repeat 0px 0px;
}

#u6035:hover
{
	background: url("../../images/u6035-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

