.version.works_8 /* version checker */
{
	color: #0000E4;
	background-color: #023B09;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #181818;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 509.5999999999997px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #181818;
	padding-top: 60px;
	padding-bottom: 0px;
}

#u8723
{
	z-index: 92;
	width: 80px;
	height: 60px;
	position: fixed;
	top: 0px;
	left: 0px;
	background: transparent url("../../images/logo-white.png") no-repeat center center;
}

#u8722
{
	z-index: 91;
	height: 59px;
	border-style: solid;
	border-color: #181818;
	background-color: #292929;
	border-width: 0px 0px 1px;
}

#u8722-bw
{
	z-index: 91;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#pamphletu8724
{
	z-index: 93;
	width: 0.01px;
	height: 54px;
	padding-bottom: 289px;
	position: fixed;
	top: 0px;
	left: 190px;
}

#u8733
{
	position: absolute;
	width: 190px;
	top: 60px;
}

#u8733popup
{
	z-index: 94;
}

#u8734
{
	z-index: 95;
	width: 190px;
	height: 283px;
	border-style: none;
	border-color: #999999;
	background-color: #333333;
	background-color: rgba(41,41,41,0.95);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,41,41,0.95);
}

#menuu8735
{
	z-index: 96;
	width: 185px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 2px;
}

#u8750
{
	width: 185px;
	background-color: transparent;
	position: relative;
}

#u8751
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u8754-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8751:hover #u8754-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8751:hover #u8754-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8758
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8751.MuseMenuActive,#u8758:hover
{
	width: 185px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8761-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8751.MuseMenuActive #u8754-4,#u8758:hover #u8761-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8751.MuseMenuActive #u8754-4 p,#u8758:hover #u8761-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8767
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8768-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8758.MuseMenuActive #u8761-4,#u8767:hover #u8768-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8758.MuseMenuActive #u8761-4 p,#u8767:hover #u8768-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8739
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8742-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8767.MuseMenuActive #u8768-4,#u8739:hover #u8742-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8767.MuseMenuActive #u8768-4 p,#u8739:hover #u8742-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8744
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8747-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8739.MuseMenuActive #u8742-4,#u8744:hover #u8747-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8739.MuseMenuActive #u8742-4 p,#u8744:hover #u8747-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8757,#u8764,#u8736,#u8743,#u8771
{
	width: 185px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u8772
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8758.MuseMenuActive,#u8767.MuseMenuActive,#u8739.MuseMenuActive,#u8744.MuseMenuActive,#u8772.MuseMenuActive
{
	width: 185px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8774-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8744.MuseMenuActive #u8747-4,#u8772:hover #u8774-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8772.MuseMenuActive #u8774-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8744.MuseMenuActive #u8747-4 p,#u8772:hover #u8774-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8772.MuseMenuActive #u8774-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8730
{
	z-index: 133;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 133px;
}

#u8731
{
	position: absolute;
	width: 75px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 7px;
	top: -8px;
	left: -18px;
}

#u8731.PamphletThumbSelected
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u8732
{
	z-index: 136;
	height: 46px;
	width: 40px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 18px;
	background: url("../../images/u8732.png") no-repeat 0px 0px;
}

#u8731:hover #u8732
{
	background: url("../../images/u8732-r.png") no-repeat 0px 0px;
}

#u8731.PamphletThumbSelected #u8732
{
	background: url("../../images/u8732-a.png") no-repeat 0px 0px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u6587
{
	z-index: 3;
	min-height: 440px;
	background: transparent url("../../images/08.jpg") no-repeat center center;
	background-size: cover;
}

#work
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 381px;
}

#buttonu6588
{
	z-index: 4;
	width: 170px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 315px;
	left: 105px;
}

#buttonu6588.ButtonSelected
{
	width: 170px;
	min-height: 0px;
	margin: 315px -10000px 0px 0px;
}

#buttonu6588_position_content
{
	padding-bottom: 20px;
}

#u6590
{
	z-index: 5;
	width: 76px;
	height: 50px;
	margin-left: 47px;
	position: relative;
	background: transparent url("../../images/scroll-down.gif") no-repeat center center;
}

#buttonu6588.ButtonSelected #u6590
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 76px;
	height: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 47px;
}

#u6589-4
{
	z-index: 6;
	width: 170px;
	min-height: 17px;
	background-color: transparent;
	line-height: 12px;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-top: 8px;
	position: relative;
}

#buttonu6588.ButtonSelected #u6589-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 170px;
	margin: 8px 0px 0px;
}

#u6591-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	margin-left: 70px;
	margin-top: 1px;
	position: relative;
}

#u6587-bw
{
	z-index: 3;
	min-height: 440px;
}

#u6586
{
	z-index: 2;
	min-height: 84px;
	background-color: #101010;
	padding-bottom: 36px;
}

#u6593-4
{
	z-index: 15;
	width: 200px;
	min-height: 35px;
	background-color: transparent;
	line-height: 26px;
	color: #EEEEEE;
	font-size: 22px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 90px;
}

#u6586-bw
{
	z-index: 2;
	min-height: 84px;
}

#u6594
{
	z-index: 20;
	position: relative;
	width: 42px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 318px;
}

#u6594_states
{
	height: 50px;
	width: 42px;
	vertical-align: top;
	background: url("../../images/u6594_states.png") no-repeat 0px 0px;
}

#u6594:hover #u6594_states
{
	background: url("../../images/u6594_states-r.png") no-repeat 0px 0px;
}

#u6623
{
	z-index: 89;
	position: relative;
	width: 42px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 20px;
}

#u6623_states
{
	height: 50px;
	width: 42px;
	vertical-align: top;
	background: url("../../images/u6623_states.png") no-repeat 0px 0px;
}

#u6623:hover #u6623_states
{
	background: url("../../images/u6623_states-r.png") no-repeat 0px 0px;
}

#pamphletu6612
{
	z-index: 78;
	width: 0.01px;
	height: 180px;
	margin-left: 20px;
	margin-top: 100px;
	position: relative;
}

#u6621
{
	z-index: 79;
	width: 340px;
	position: relative;
	margin-right: -10000px;
}

#u6622
{
	position: absolute;
	width: 340px;
	height: 180px;
	border-style: none;
	background: transparent url("../../images/8-u6622-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u6622:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	width: 340px;
	height: 180px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u6617
{
	position: absolute;
	width: 342px;
	background-color: #3E3E3E;
	background-color: rgba(41,41,41,0.9);
	padding-bottom: 44px;
	top: -70px;
	left: -1px;
	-pie-background: rgba(41,41,41,0.9);
}

#u6617popup
{
	z-index: 81;
}

#u6618
{
	z-index: 82;
	width: 298px;
	height: 233px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/8-u6618-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u6615
{
	position: absolute;
	width: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #292929;
	border-radius: 100px;
	padding-bottom: 5px;
	top: -59px;
	left: 302px;
}

#u6615:hover
{
	background-color: #20CA9C;
	width: 29px;
	min-height: 0px;
	margin: 0px;
}

#u6616-4
{
	z-index: 84;
	width: 20px;
	min-height: 22px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 5px;
}

#ppu6595
{
	width: 0.01px;
	margin-top: 62px;
}

#u6595
{
	z-index: 23;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u6595.png") no-repeat 0px 0px;
}

#u6595:hover
{
	background: url("../../images/u6595-r.png") no-repeat 0px 0px;
}

#u6598-4
{
	z-index: 31;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u6601-4
{
	z-index: 43;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#ppu6596
{
	width: 0.01px;
	margin-top: 29px;
}

#u6596
{
	z-index: 26;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u6596.png") no-repeat 0px 0px;
}

#u6596:hover
{
	background: url("../../images/u6596-r.png") no-repeat 0px 0px;
}

#u6599-4
{
	z-index: 35;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u6602-4
{
	z-index: 47;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#ppu6597
{
	width: 0.01px;
	margin-top: 28px;
}

#u6597
{
	z-index: 29;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u6597.png") no-repeat 0px 0px;
}

#u6597:hover
{
	background: url("../../images/u6597-r.png") no-repeat 0px 0px;
}

#u6600-4
{
	z-index: 39;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u6604-4
{
	z-index: 55;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#u6604-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 276px;
	margin: 15px 0px 0px 36px;
}

#u6604-4:hover p
{
	text-decoration: underline;
}

#u6605
{
	z-index: 59;
	width: 330px;
	height: 8px;
	border-style: solid;
	border-color: #EEEEEE;
	background-color: transparent;
	margin-left: 30px;
	margin-top: 17px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u6603-4
{
	z-index: 51;
	width: 318px;
	min-height: 114px;
	background-color: transparent;
	line-height: 22px;
	color: #B2B2B2;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 34px;
	margin-top: 34px;
	position: relative;
}

#u6606-4
{
	z-index: 60;
	min-height: 70px;
	background-color: #292929;
	border-radius: 1px;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

#u6606-4:hover
{
	background-color: #20CA9C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 70px;
	margin: 0px;
}

#u6606-2
{
	padding-top: 25px;
}

#u6606-4-bw
{
	z-index: 60;
	min-height: 70px;
	margin-top: 49px;
}

#pu6586,#pu6607
{
	width: 0.01px;
}

#u6607
{
	z-index: 64;
	min-height: 59px;
	background-color: transparent;
	padding-bottom: 61px;
}

#u6608-4
{
	z-index: 65;
	width: 340px;
	min-height: 31px;
	background-color: transparent;
	line-height: 29px;
	color: #EDEDED;
	font-size: 13px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 20px;
}

#u6607-bw
{
	z-index: 64;
	min-height: 59px;
}

#u6609
{
	z-index: 70;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 120px;
	background: url("../../images/u6609.png") no-repeat 0px 0px;
}

#u6609:hover
{
	background: url("../../images/u6609-r.png") no-repeat 0px 0px;
}

#u6610
{
	z-index: 73;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 173px;
	background: url("../../images/u6610.png") no-repeat 0px 0px;
}

#u6610:hover
{
	background: url("../../images/u6610-r.png") no-repeat 0px 0px;
}

#u6611
{
	z-index: 76;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 226px;
	background: url("../../images/u6611.png") no-repeat 0px 0px;
}

#u6611:hover
{
	background: url("../../images/u6611-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

