.version.works_7 /* version checker */
{
	color: #00001E;
	background-color: #0EE599;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #181818;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 509.5999999999997px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #181818;
	padding-top: 60px;
	padding-bottom: 0px;
}

#u8667
{
	z-index: 99;
	width: 80px;
	height: 60px;
	position: fixed;
	top: 0px;
	left: 0px;
	background: transparent url("../../images/logo-white.png") no-repeat center center;
}

#u8666
{
	z-index: 98;
	height: 59px;
	border-style: solid;
	border-color: #181818;
	background-color: #292929;
	border-width: 0px 0px 1px;
}

#u8666-bw
{
	z-index: 98;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#pamphletu8668
{
	z-index: 100;
	width: 0.01px;
	height: 54px;
	padding-bottom: 289px;
	position: fixed;
	top: 0px;
	left: 190px;
}

#u8677
{
	position: absolute;
	width: 190px;
	top: 60px;
}

#u8677popup
{
	z-index: 101;
}

#u8678
{
	z-index: 102;
	width: 190px;
	height: 283px;
	border-style: none;
	border-color: #999999;
	background-color: #333333;
	background-color: rgba(41,41,41,0.95);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,41,41,0.95);
}

#menuu8679
{
	z-index: 103;
	width: 185px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 2px;
}

#u8694
{
	width: 185px;
	background-color: transparent;
	position: relative;
}

#u8695
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u8698-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8695:hover #u8698-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8695:hover #u8698-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8702
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8695.MuseMenuActive,#u8702:hover
{
	width: 185px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8705-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8695.MuseMenuActive #u8698-4,#u8702:hover #u8705-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8695.MuseMenuActive #u8698-4 p,#u8702:hover #u8705-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8711
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8712-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8702.MuseMenuActive #u8705-4,#u8711:hover #u8712-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8702.MuseMenuActive #u8705-4 p,#u8711:hover #u8712-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8683
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8686-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8711.MuseMenuActive #u8712-4,#u8683:hover #u8686-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8711.MuseMenuActive #u8712-4 p,#u8683:hover #u8686-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8688
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8691-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8683.MuseMenuActive #u8686-4,#u8688:hover #u8691-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8683.MuseMenuActive #u8686-4 p,#u8688:hover #u8691-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8701,#u8708,#u8680,#u8687,#u8715
{
	width: 185px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u8716
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8702.MuseMenuActive,#u8711.MuseMenuActive,#u8683.MuseMenuActive,#u8688.MuseMenuActive,#u8716.MuseMenuActive
{
	width: 185px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8718-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8688.MuseMenuActive #u8691-4,#u8716:hover #u8718-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8716.MuseMenuActive #u8718-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8688.MuseMenuActive #u8691-4 p,#u8716:hover #u8718-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8716.MuseMenuActive #u8718-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8674
{
	z-index: 140;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 133px;
}

#u8675
{
	position: absolute;
	width: 75px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 7px;
	top: -8px;
	left: -18px;
}

#u8675.PamphletThumbSelected
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u8676
{
	z-index: 143;
	height: 46px;
	width: 40px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 18px;
	background: url("../../images/u8676.png") no-repeat 0px 0px;
}

#u8675:hover #u8676
{
	background: url("../../images/u8676-r.png") no-repeat 0px 0px;
}

#u8675.PamphletThumbSelected #u8676
{
	background: url("../../images/u8676-a.png") no-repeat 0px 0px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u6493
{
	z-index: 3;
	min-height: 440px;
	background: transparent url("../../images/07.jpg") no-repeat center center;
	background-size: cover;
}

#work
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 381px;
}

#buttonu6494
{
	z-index: 4;
	width: 170px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 315px;
	left: 105px;
}

#buttonu6494.ButtonSelected
{
	width: 170px;
	min-height: 0px;
	margin: 315px -10000px 0px 0px;
}

#buttonu6494_position_content
{
	padding-bottom: 20px;
}

#u6496
{
	z-index: 5;
	width: 76px;
	height: 50px;
	margin-left: 47px;
	position: relative;
	background: transparent url("../../images/scroll-down.gif") no-repeat center center;
}

#buttonu6494.ButtonSelected #u6496
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 76px;
	height: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 47px;
}

#u6495-4
{
	z-index: 6;
	width: 170px;
	min-height: 17px;
	background-color: transparent;
	line-height: 12px;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-top: 8px;
	position: relative;
}

#buttonu6494.ButtonSelected #u6495-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 170px;
	margin: 8px 0px 0px;
}

#u6497-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	margin-left: 70px;
	margin-top: 1px;
	position: relative;
}

#u6493-bw
{
	z-index: 3;
	min-height: 440px;
}

#u6492
{
	z-index: 2;
	min-height: 84px;
	background-color: #101010;
	padding-bottom: 36px;
}

#u6499-4
{
	z-index: 15;
	width: 200px;
	min-height: 35px;
	background-color: transparent;
	line-height: 26px;
	color: #EEEEEE;
	font-size: 22px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 90px;
}

#u6492-bw
{
	z-index: 2;
	min-height: 84px;
}

#u6500
{
	z-index: 20;
	position: relative;
	width: 42px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 318px;
}

#u6500_states
{
	height: 50px;
	width: 42px;
	vertical-align: top;
	background: url("../../images/u6500_states.png") no-repeat 0px 0px;
}

#u6500:hover #u6500_states
{
	background: url("../../images/u6500_states-r.png") no-repeat 0px 0px;
}

#u6529
{
	z-index: 79;
	position: relative;
	width: 42px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 20px;
}

#u6529_states
{
	height: 50px;
	width: 42px;
	vertical-align: top;
	background: url("../../images/u6529_states.png") no-repeat 0px 0px;
}

#u6529:hover #u6529_states
{
	background: url("../../images/u6529_states-r.png") no-repeat 0px 0px;
}

#pamphletu7058
{
	z-index: 81;
	width: 0.01px;
	height: 352px;
	margin-left: 20px;
	margin-top: 100px;
	position: relative;
}

#u7063
{
	z-index: 82;
	width: 51px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 330px;
	left: 130px;
}

#u7065
{
	position: absolute;
	width: 19px;
	height: 21px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
}

#u7065:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 19px;
	height: 21px;
	min-height: 0px;
	margin: 0px;
}

#u7066
{
	position: absolute;
	width: 19px;
	height: 21px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	left: 30px;
}

#u7066:hover
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 19px;
	height: 21px;
	min-height: 0px;
	margin: 0px;
}

#u7065.PamphletThumbSelected,#u7066.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #292929;
	width: 19px;
	height: 21px;
	min-height: 0px;
	margin: 0px;
}

.js #u7065.ose_pre_init,.js #u7066.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u7067
{
	position: absolute;
	width: 340px;
	background-color: transparent;
}

#u7067popup
{
	z-index: 85;
}

#u7068
{
	z-index: 86;
	width: 340px;
	height: 320px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/3.jpg") no-repeat center top;
	background-size: cover;
}

#u7069
{
	z-index: 87;
	width: 340px;
	height: 320px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/4.jpg") no-repeat center top;
	background-size: cover;
}

#u7061
{
	position: absolute;
	width: 28px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 11px;
	top: 135px;
	left: 19px;
}

#u7062-4
{
	z-index: 89;
	width: 20px;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 4px;
}

#u7071
{
	position: absolute;
	width: 28px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 11px;
	top: 135px;
	left: 289px;
}

#u7072-4
{
	z-index: 94;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 4px;
}

#ppu6501
{
	width: 0.01px;
	margin-top: 30px;
}

#u6501
{
	z-index: 23;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u6501.png") no-repeat 0px 0px;
}

#u6501:hover
{
	background: url("../../images/u6501-r.png") no-repeat 0px 0px;
}

#u6504-4
{
	z-index: 31;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u6507-4
{
	z-index: 43;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#ppu6502
{
	width: 0.01px;
	margin-top: 29px;
}

#u6502
{
	z-index: 26;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u6502.png") no-repeat 0px 0px;
}

#u6502:hover
{
	background: url("../../images/u6502-r.png") no-repeat 0px 0px;
}

#u6505-4
{
	z-index: 35;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u6508-4
{
	z-index: 47;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#ppu6503
{
	width: 0.01px;
	margin-top: 28px;
}

#u6503
{
	z-index: 29;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u6503.png") no-repeat 0px 0px;
}

#u6503:hover
{
	background: url("../../images/u6503-r.png") no-repeat 0px 0px;
}

#u6506-4
{
	z-index: 39;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u6510-4
{
	z-index: 55;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#u6510-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 276px;
	margin: 15px 0px 0px 36px;
}

#u6510-4:hover p
{
	text-decoration: underline;
}

#u6511
{
	z-index: 59;
	width: 330px;
	height: 8px;
	border-style: solid;
	border-color: #EEEEEE;
	background-color: transparent;
	margin-left: 30px;
	margin-top: 17px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u6509-4
{
	z-index: 51;
	width: 318px;
	min-height: 114px;
	background-color: transparent;
	line-height: 22px;
	color: #B2B2B2;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 34px;
	margin-top: 34px;
	position: relative;
}

#u6512-4
{
	z-index: 60;
	min-height: 70px;
	background-color: #292929;
	border-radius: 1px;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

#u6512-4:hover
{
	background-color: #20CA9C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 70px;
	margin: 0px;
}

#u6512-2
{
	padding-top: 25px;
}

#u6512-4-bw
{
	z-index: 60;
	min-height: 70px;
	margin-top: 49px;
}

#pu6492,#pu6513
{
	width: 0.01px;
}

#u6513
{
	z-index: 64;
	min-height: 59px;
	background-color: transparent;
	padding-bottom: 61px;
}

#u6514-4
{
	z-index: 65;
	width: 340px;
	min-height: 31px;
	background-color: transparent;
	line-height: 29px;
	color: #EDEDED;
	font-size: 13px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 20px;
}

#u6513-bw
{
	z-index: 64;
	min-height: 59px;
}

#u6515
{
	z-index: 70;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 120px;
	background: url("../../images/u6515.png") no-repeat 0px 0px;
}

#u6515:hover
{
	background: url("../../images/u6515-r.png") no-repeat 0px 0px;
}

#u6516
{
	z-index: 73;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 173px;
	background: url("../../images/u6516.png") no-repeat 0px 0px;
}

#u6516:hover
{
	background: url("../../images/u6516-r.png") no-repeat 0px 0px;
}

#u6517
{
	z-index: 76;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 226px;
	background: url("../../images/u6517.png") no-repeat 0px 0px;
}

#u6517:hover
{
	background: url("../../images/u6517-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

