.version.works_3 /* version checker */
{
	color: #00000E;
	background-color: #999351;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #181818;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 509.5999999999997px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #181818;
	padding-top: 60px;
	padding-bottom: 0px;
}

#u8443
{
	z-index: 83;
	width: 80px;
	height: 60px;
	position: fixed;
	top: 0px;
	left: 0px;
	background: transparent url("../../images/logo-white.png") no-repeat center center;
}

#u8442
{
	z-index: 82;
	height: 59px;
	border-style: solid;
	border-color: #181818;
	background-color: #292929;
	border-width: 0px 0px 1px;
}

#u8442-bw
{
	z-index: 82;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#pamphletu8444
{
	z-index: 84;
	width: 0.01px;
	height: 54px;
	padding-bottom: 289px;
	position: fixed;
	top: 0px;
	left: 190px;
}

#u8453
{
	position: absolute;
	width: 190px;
	top: 60px;
}

#u8453popup
{
	z-index: 85;
}

#u8454
{
	z-index: 86;
	width: 190px;
	height: 283px;
	border-style: none;
	border-color: #999999;
	background-color: #333333;
	background-color: rgba(41,41,41,0.95);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(41,41,41,0.95);
}

#menuu8455
{
	z-index: 87;
	width: 185px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 2px;
}

#u8470
{
	width: 185px;
	background-color: transparent;
	position: relative;
}

#u8471
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#u8474-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8471:hover #u8474-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8471:hover #u8474-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8478
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8471.MuseMenuActive,#u8478:hover
{
	width: 185px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8481-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8471.MuseMenuActive #u8474-4,#u8478:hover #u8481-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8471.MuseMenuActive #u8474-4 p,#u8478:hover #u8481-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8487
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8488-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8478.MuseMenuActive #u8481-4,#u8487:hover #u8488-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8478.MuseMenuActive #u8481-4 p,#u8487:hover #u8488-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8459
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8462-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8487.MuseMenuActive #u8488-4,#u8459:hover #u8462-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8487.MuseMenuActive #u8488-4 p,#u8459:hover #u8462-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8464
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8467-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8459.MuseMenuActive #u8462-4,#u8464:hover #u8467-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8459.MuseMenuActive #u8462-4 p,#u8464:hover #u8467-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8477,#u8484,#u8456,#u8463,#u8491
{
	width: 185px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u8492
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#u8478.MuseMenuActive,#u8487.MuseMenuActive,#u8459.MuseMenuActive,#u8464.MuseMenuActive,#u8492.MuseMenuActive
{
	width: 185px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8494-4
{
	width: 185px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u8464.MuseMenuActive #u8467-4,#u8492:hover #u8494-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8492.MuseMenuActive #u8494-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u8464.MuseMenuActive #u8467-4 p,#u8492:hover #u8494-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8492.MuseMenuActive #u8494-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8450
{
	z-index: 124;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 133px;
}

#u8451
{
	position: absolute;
	width: 75px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 7px;
	top: -8px;
	left: -18px;
}

#u8451.PamphletThumbSelected
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u8452
{
	z-index: 127;
	height: 46px;
	width: 40px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 18px;
	background: url("../../images/u8452.png") no-repeat 0px 0px;
}

#u8451:hover #u8452
{
	background: url("../../images/u8452-r.png") no-repeat 0px 0px;
}

#u8451.PamphletThumbSelected #u8452
{
	background: url("../../images/u8452-a.png") no-repeat 0px 0px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u6105
{
	z-index: 3;
	min-height: 440px;
	background: transparent url("../../images/032.jpg") no-repeat center center;
	background-size: cover;
}

#work
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 381px;
}

#buttonu6198
{
	z-index: 71;
	width: 170px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 315px;
	left: 105px;
}

#buttonu6198.ButtonSelected
{
	width: 170px;
	min-height: 0px;
	margin: 315px -10000px 0px 0px;
}

#u6199
{
	z-index: 72;
	width: 76px;
	height: 50px;
	margin-left: 47px;
	position: relative;
	background: transparent url("../../images/scroll-down-dark.gif") no-repeat center center;
}

#buttonu6198.ButtonSelected #u6199
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 76px;
	height: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 47px;
}

#u6200-4
{
	z-index: 73;
	width: 170px;
	min-height: 17px;
	background-color: transparent;
	line-height: 12px;
	color: #292929;
	font-size: 10px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-top: 18px;
	position: relative;
}

#buttonu6198.ButtonSelected #u6200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 170px;
	margin: 18px 0px 0px;
}

#u6201-4
{
	z-index: 77;
	display: block;
	vertical-align: top;
	margin-left: 70px;
	margin-top: 11px;
	position: relative;
}

#u6105-bw
{
	z-index: 3;
	min-height: 440px;
}

#u6104
{
	z-index: 2;
	min-height: 84px;
	background-color: #101010;
	padding-bottom: 36px;
}

#u6111-4
{
	z-index: 5;
	width: 200px;
	min-height: 35px;
	background-color: transparent;
	line-height: 26px;
	color: #EEEEEE;
	font-size: 22px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 90px;
}

#u6104-bw
{
	z-index: 2;
	min-height: 84px;
}

#u6112
{
	z-index: 10;
	position: relative;
	width: 42px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 318px;
}

#u6112_states
{
	height: 50px;
	width: 42px;
	vertical-align: top;
	background: url("../../images/u6112_states.png") no-repeat 0px 0px;
}

#u6112:hover #u6112_states
{
	background: url("../../images/u6112_states-r.png") no-repeat 0px 0px;
}

#u6141
{
	z-index: 69;
	position: relative;
	width: 42px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 20px;
}

#u6141_states
{
	height: 50px;
	width: 42px;
	vertical-align: top;
	background: url("../../images/u6141_states.png") no-repeat 0px 0px;
}

#u6141:hover #u6141_states
{
	background: url("../../images/u6141_states-r.png") no-repeat 0px 0px;
}

#u6202
{
	z-index: 81;
	width: 340px;
	min-height: 208px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 100px;
	position: relative;
}

#ppu6113
{
	width: 0.01px;
	margin-top: 74px;
}

#u6113
{
	z-index: 13;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u6113.png") no-repeat 0px 0px;
}

#u6113:hover
{
	background: url("../../images/u6113-r.png") no-repeat 0px 0px;
}

#u6116-4
{
	z-index: 21;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u6119-4
{
	z-index: 33;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#ppu6114
{
	width: 0.01px;
	margin-top: 29px;
}

#u6114
{
	z-index: 16;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u6114.png") no-repeat 0px 0px;
}

#u6114:hover
{
	background: url("../../images/u6114-r.png") no-repeat 0px 0px;
}

#u6117-4
{
	z-index: 25;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u6120-4
{
	z-index: 37;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#ppu6115
{
	width: 0.01px;
	margin-top: 28px;
}

#u6115
{
	z-index: 19;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u6115.png") no-repeat 0px 0px;
}

#u6115:hover
{
	background: url("../../images/u6115-r.png") no-repeat 0px 0px;
}

#u6118-4
{
	z-index: 29;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u6122-4
{
	z-index: 45;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#u6122-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 276px;
	margin: 15px 0px 0px 36px;
}

#u6122-4:hover p
{
	text-decoration: underline;
}

#u6123
{
	z-index: 49;
	width: 330px;
	height: 8px;
	border-style: solid;
	border-color: #EEEEEE;
	background-color: transparent;
	margin-left: 30px;
	margin-top: 17px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u6121-4
{
	z-index: 41;
	width: 318px;
	min-height: 114px;
	background-color: transparent;
	line-height: 22px;
	color: #B2B2B2;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 34px;
	margin-top: 34px;
	position: relative;
}

#u6124-4
{
	z-index: 50;
	min-height: 70px;
	background-color: #292929;
	border-radius: 1px;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

#u6124-4:hover
{
	background-color: #20CA9C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 70px;
	margin: 0px;
}

#u6124-2
{
	padding-top: 25px;
}

#u6124-4-bw
{
	z-index: 50;
	min-height: 70px;
	margin-top: 49px;
}

#pu6104,#pu6125
{
	width: 0.01px;
}

#u6125
{
	z-index: 54;
	min-height: 59px;
	background-color: transparent;
	padding-bottom: 61px;
}

#u6126-4
{
	z-index: 55;
	width: 340px;
	min-height: 31px;
	background-color: transparent;
	line-height: 29px;
	color: #EDEDED;
	font-size: 13px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 20px;
}

#u6125-bw
{
	z-index: 54;
	min-height: 59px;
}

#u6127
{
	z-index: 60;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 120px;
	background: url("../../images/u6127.png") no-repeat 0px 0px;
}

#u6127:hover
{
	background: url("../../images/u6127-r.png") no-repeat 0px 0px;
}

#u6128
{
	z-index: 63;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 173px;
	background: url("../../images/u6128.png") no-repeat 0px 0px;
}

#u6128:hover
{
	background: url("../../images/u6128-r.png") no-repeat 0px 0px;
}

#u6129
{
	z-index: 66;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 226px;
	background: url("../../images/u6129.png") no-repeat 0px 0px;
}

#u6129:hover
{
	background: url("../../images/u6129-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

