.version.works_11 /* version checker */
{
	color: #0000E0;
	background-color: #BA403F;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #181818;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #181818;
}

#u4828
{
	z-index: 3;
	min-height: 669px;
	padding-bottom: 31px;
	background: transparent url("../../images/11.jpg") no-repeat center center;
	background-size: cover;
}

#pu4897
{
	width: 0.01px;
	margin-right: -10000px;
}

#u4897
{
	z-index: 118;
	width: 80px;
	height: 80px;
	position: relative;
	background: transparent url("../../images/logo-white.png") no-repeat center center;
}

#work
{
	margin-top: 541px;
	position: relative;
}

#pmenuu4854
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 261px;
}

#menuu4854
{
	z-index: 81;
	width: 487px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u4865
{
	width: 67px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4866-4
{
	width: 38px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4865:hover #u4866-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u4865:hover #u4866-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4856
{
	width: 72px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4856:hover
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u4859-4
{
	width: 43px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4856:hover #u4859-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u4865.MuseMenuActive #u4866-4 p,#u4856:hover #u4859-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4870
{
	width: 88px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4873-4
{
	width: 59px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4870:hover #u4873-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u4856.MuseMenuActive #u4859-4 p,#u4870:hover #u4873-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4884
{
	width: 64px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4885-4
{
	width: 35px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4884:hover #u4885-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 35px;
	margin: 0px -10000px 0px 0px;
}

#u4870.MuseMenuActive #u4873-4 p,#u4884:hover #u4885-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4891
{
	width: 98px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4894-4
{
	width: 70px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4891:hover #u4894-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u4884.MuseMenuActive #u4885-4 p,#u4891:hover #u4894-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4879
{
	width: 88px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4880-4
{
	width: 60px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4879:hover #u4880-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u4891.MuseMenuActive #u4894-4 p,#u4879:hover #u4880-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#buttonu4829
{
	z-index: 4;
	width: 170px;
	border-style: none;
	background-color: transparent;
	margin-left: 38px;
	margin-top: 464px;
	position: relative;
}

#buttonu4829.ButtonSelected
{
	width: 170px;
	min-height: 0px;
	margin: 464px 0px 0px 38px;
}

#u4830
{
	z-index: 5;
	width: 76px;
	height: 50px;
	margin-left: 47px;
	position: relative;
	background: transparent url("../../images/scroll-down.gif") no-repeat center center;
}

#buttonu4829.ButtonSelected #u4830
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 76px;
	height: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 47px;
}

#u4832-4
{
	z-index: 6;
	width: 170px;
	min-height: 17px;
	background-color: transparent;
	line-height: 12px;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-top: 18px;
	position: relative;
}

#buttonu4829.ButtonSelected #u4832-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 170px;
	margin: 18px 0px 0px;
}

#u4831-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	margin-left: 70px;
	margin-top: 11px;
	position: relative;
}

#u4828-bw
{
	z-index: 3;
	min-height: 669px;
}

#pu8295
{
	width: 0.01px;
	padding-bottom: 80px;
	margin-top: -620px;
}

#u8295
{
	z-index: 129;
	height: 79px;
	border-style: solid;
	border-color: #181818;
	background-color: #292929;
	border-width: 0px 0px 1px;
}

#u8295-bw
{
	z-index: 129;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 80px;
}

#u8339
{
	z-index: 167;
	width: 80px;
	height: 80px;
	position: fixed;
	top: 80px;
	left: 0px;
	background: transparent url("../../images/logo-white.png") no-repeat center center;
}

#menuu8296
{
	z-index: 130;
	width: 487px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 80px;
	left: 261px;
}

#u4862,#u8311
{
	width: 67px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8312
{
	width: 67px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4865.MuseMenuActive,#u8312.MuseMenuActive
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u8313-4
{
	width: 38px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4865.MuseMenuActive #u4866-4,#u8312:hover #u8313-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u8312.MuseMenuActive #u8313-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u4879.MuseMenuActive #u4880-4 p,#u8312:hover #u8313-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4855,#u8332
{
	width: 72px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 69px;
}

#u8333
{
	width: 72px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4856.MuseMenuActive,#u8333:hover
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u8333.MuseMenuActive
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u8334-4
{
	width: 43px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4856.MuseMenuActive #u4859-4,#u8333:hover #u8334-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u8333.MuseMenuActive #u8334-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u8312.MuseMenuActive #u8313-4 p,#u8333:hover #u8334-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4869,#u8325
{
	width: 88px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 143px;
}

#u8328
{
	width: 88px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u8330-4
{
	width: 59px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4870.MuseMenuActive #u4873-4,#u8328:hover #u8330-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u8328.MuseMenuActive #u8330-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u8333.MuseMenuActive #u8334-4 p,#u8328:hover #u8330-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4883,#u8318
{
	width: 64px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 233px;
}

#u8321
{
	width: 64px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4884.MuseMenuActive,#u8321.MuseMenuActive
{
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u8323-4
{
	width: 35px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4884.MuseMenuActive #u4885-4,#u8321:hover #u8323-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 35px;
	margin: 0px -10000px 0px 0px;
}

#u8321.MuseMenuActive #u8323-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 35px;
	margin: 0px -10000px 0px 0px;
}

#u8328.MuseMenuActive #u8330-4 p,#u8321:hover #u8323-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4890,#u8304
{
	width: 98px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 299px;
}

#u8305
{
	width: 98px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4891.MuseMenuActive,#u8305.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u8307-4
{
	width: 70px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4891.MuseMenuActive #u4894-4,#u8305:hover #u8307-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u8305.MuseMenuActive #u8307-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u8321.MuseMenuActive #u8323-4 p,#u8305:hover #u8307-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4876,#u8297
{
	width: 88px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 399px;
}

#u8300
{
	width: 88px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4870.MuseMenuActive,#u4879.MuseMenuActive,#u8328.MuseMenuActive,#u8300.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u8303-4
{
	width: 60px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4879.MuseMenuActive #u4880-4,#u8300:hover #u8303-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u8300.MuseMenuActive #u8303-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u8305.MuseMenuActive #u8307-4 p,#u8300:hover #u8303-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8300.MuseMenuActive #u8303-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

.js #u8295.ose_pre_init,.js #u8339.ose_pre_init,.js #menuu8296.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u4827
{
	z-index: 2;
	min-height: 80px;
	background-color: #101010;
	padding-bottom: 40px;
}

#u4834-4
{
	z-index: 15;
	width: 370px;
	min-height: 35px;
	background-color: transparent;
	line-height: 34px;
	color: #EEEEEE;
	font-size: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 199px;
}

#u4827-bw
{
	z-index: 2;
	min-height: 80px;
}

#u4835
{
	z-index: 20;
	position: relative;
	width: 42px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 706px;
}

#u4835_states
{
	height: 50px;
	width: 42px;
	vertical-align: top;
	background: url("../../images/u4835_states.png") no-repeat 0px 0px;
}

#u4835:hover #u4835_states
{
	background: url("../../images/u4835_states-r.png") no-repeat 0px 0px;
}

#u4836
{
	z-index: 23;
	position: relative;
	width: 42px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 20px;
}

#u4836_states
{
	height: 50px;
	width: 42px;
	vertical-align: top;
	background: url("../../images/u4836_states.png") no-repeat 0px 0px;
}

#u4836:hover #u4836_states
{
	background: url("../../images/u4836_states-r.png") no-repeat 0px 0px;
}

#pamphletu4943
{
	z-index: 119;
	width: 0.01px;
	height: 470px;
	margin-left: 20px;
	margin-top: 109px;
	position: relative;
}

#u4948
{
	z-index: 120;
	width: 728px;
	position: relative;
	margin-right: -10000px;
}

#u4949
{
	position: absolute;
	width: 728px;
	height: 470px;
	border-style: none;
	background: transparent url("../../images/2.jpg") no-repeat center center;
	background-size: cover;
}

#u4949:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	width: 728px;
	height: 470px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u4952
{
	position: absolute;
	width: 730px;
	background-color: #3E3E3E;
	background-color: rgba(41,41,41,0.9);
	padding-bottom: 44px;
	top: -70px;
	left: -1px;
	-pie-background: rgba(41,41,41,0.9);
}

#u4952popup
{
	z-index: 122;
}

#u4953
{
	z-index: 123;
	width: 686px;
	height: 543px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/2.jpg") no-repeat center center;
	background-size: cover;
}

#u4950
{
	position: absolute;
	width: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #292929;
	border-radius: 100px;
	padding-bottom: 5px;
	top: -63px;
	left: 692px;
}

#u4950:hover
{
	background-color: #20CA9C;
	width: 29px;
	min-height: 0px;
	margin: 0px;
}

#u4951-4
{
	z-index: 125;
	width: 20px;
	min-height: 22px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 5px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#ppu4837
{
	width: 0.01px;
	margin-top: 41px;
}

#u4837
{
	z-index: 26;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u4837.png") no-repeat 0px 0px;
}

#u4837:hover
{
	background: url("../../images/u4837-r.png") no-repeat 0px 0px;
}

#u4840-4
{
	z-index: 34;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u4843-4
{
	z-index: 46;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#ppu4838
{
	width: 0.01px;
	margin-top: 28px;
}

#u4838
{
	z-index: 29;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u4838.png") no-repeat 0px 0px;
}

#u4838:hover
{
	background: url("../../images/u4838-r.png") no-repeat 0px 0px;
}

#u4841-4
{
	z-index: 38;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u4844-4
{
	z-index: 50;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#ppu4839
{
	width: 0.01px;
	margin-top: 29px;
}

#u4839
{
	z-index: 32;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u4839.png") no-repeat 0px 0px;
}

#u4839:hover
{
	background: url("../../images/u4839-r.png") no-repeat 0px 0px;
}

#u4842-4
{
	z-index: 42;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u4846-4
{
	z-index: 58;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#u4846-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 276px;
	margin: 15px 0px 0px 36px;
}

#u4846-4:hover p
{
	text-decoration: underline;
}

#u4847
{
	z-index: 62;
	width: 718px;
	height: 8px;
	border-style: solid;
	border-color: #EEEEEE;
	background-color: transparent;
	margin-left: 30px;
	margin-top: 17px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4845-4
{
	z-index: 54;
	width: 693px;
	min-height: 114px;
	background-color: transparent;
	line-height: 22px;
	color: #B2B2B2;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 38px;
	margin-top: 33px;
	position: relative;
}

#u4848-4
{
	z-index: 63;
	min-height: 70px;
	background-color: #292929;
	border-radius: 1px;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

#u4848-4:hover
{
	background-color: #20CA9C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 70px;
	margin: 0px;
}

#u4848-2
{
	padding-top: 25px;
}

#u4848-4-bw
{
	z-index: 63;
	min-height: 70px;
	margin-top: 50px;
}

#pu4827,#pu4849
{
	width: 0.01px;
}

#u4849
{
	z-index: 67;
	min-height: 57px;
	background-color: transparent;
	padding-bottom: 27px;
}

#u4850-4
{
	z-index: 68;
	width: 370px;
	min-height: 31px;
	background-color: transparent;
	line-height: 29px;
	color: #EDEDED;
	font-size: 13px;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 20px;
}

#u4849-bw
{
	z-index: 67;
	min-height: 57px;
}

#u4851
{
	z-index: 73;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 608px;
	background: url("../../images/u4851.png") no-repeat 0px 0px;
}

#u4851:hover
{
	background: url("../../images/u4851-r.png") no-repeat 0px 0px;
}

#u4852
{
	z-index: 76;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 661px;
	background: url("../../images/u4852.png") no-repeat 0px 0px;
}

#u4852:hover
{
	background: url("../../images/u4852-r.png") no-repeat 0px 0px;
}

#u4853
{
	z-index: 79;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 714px;
	background: url("../../images/u4853.png") no-repeat 0px 0px;
}

#u4853:hover
{
	background: url("../../images/u4853-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

