.version.works_12 /* version checker */
{
	color: #0000E5;
	background-color: #EF2588;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #181818;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #181818;
}

#u4955
{
	z-index: 3;
	min-height: 669px;
	padding-bottom: 31px;
	background: transparent url("../../images/12.jpg") no-repeat center center;
	background-size: cover;
}

#pu5024
{
	width: 0.01px;
	margin-right: -10000px;
}

#u5024
{
	z-index: 118;
	width: 80px;
	height: 80px;
	position: relative;
	background: transparent url("../../images/logo-white.png") no-repeat center center;
}

#work
{
	margin-top: 541px;
	position: relative;
}

#pmenuu4981
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 261px;
}

#menuu4981
{
	z-index: 81;
	width: 487px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u4999
{
	width: 67px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u5001-4
{
	width: 38px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4999:hover #u5001-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u4999:hover #u5001-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4983
{
	width: 72px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4983:hover
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u4985-4
{
	width: 43px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4983:hover #u4985-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u4999.MuseMenuActive #u5001-4 p,#u4983:hover #u4985-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4990
{
	width: 88px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4992-4
{
	width: 59px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4990:hover #u4992-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u4983.MuseMenuActive #u4985-4 p,#u4990:hover #u4992-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u5018
{
	width: 64px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u5019-4
{
	width: 35px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u5018:hover #u5019-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 35px;
	margin: 0px -10000px 0px 0px;
}

#u4990.MuseMenuActive #u4992-4 p,#u5018:hover #u5019-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u5006
{
	width: 98px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u5007-4
{
	width: 70px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u5006:hover #u5007-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u5018.MuseMenuActive #u5019-4 p,#u5006:hover #u5007-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u5011
{
	width: 88px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u5014-4
{
	width: 60px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u5011:hover #u5014-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u5006.MuseMenuActive #u5007-4 p,#u5011:hover #u5014-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#buttonu4956
{
	z-index: 4;
	width: 170px;
	border-style: none;
	background-color: transparent;
	margin-left: 38px;
	margin-top: 464px;
	position: relative;
}

#buttonu4956.ButtonSelected
{
	width: 170px;
	min-height: 0px;
	margin: 464px 0px 0px 38px;
}

#u4959
{
	z-index: 5;
	width: 76px;
	height: 50px;
	margin-left: 47px;
	position: relative;
	background: transparent url("../../images/scroll-down.gif") no-repeat center center;
}

#buttonu4956.ButtonSelected #u4959
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 76px;
	height: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 47px;
}

#u4958-4
{
	z-index: 6;
	width: 170px;
	min-height: 17px;
	background-color: transparent;
	line-height: 12px;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-top: 18px;
	position: relative;
}

#buttonu4956.ButtonSelected #u4958-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 170px;
	margin: 18px 0px 0px;
}

#u4957-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	margin-left: 70px;
	margin-top: 11px;
	position: relative;
}

#u4955-bw
{
	z-index: 3;
	min-height: 669px;
}

#pu8340
{
	width: 0.01px;
	padding-bottom: 80px;
	margin-top: -620px;
}

#u8340
{
	z-index: 120;
	height: 79px;
	border-style: solid;
	border-color: #181818;
	background-color: #292929;
	border-width: 0px 0px 1px;
}

#u8340-bw
{
	z-index: 120;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 80px;
}

#u8384
{
	z-index: 158;
	width: 80px;
	height: 80px;
	position: fixed;
	top: 80px;
	left: 0px;
	background: transparent url("../../images/logo-white.png") no-repeat center center;
}

#menuu8341
{
	z-index: 121;
	width: 487px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 80px;
	left: 261px;
}

#u4996,#u8356
{
	width: 67px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8357
{
	width: 67px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4999.MuseMenuActive,#u8357.MuseMenuActive
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u8358-4
{
	width: 38px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4999.MuseMenuActive #u5001-4,#u8357:hover #u8358-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u8357.MuseMenuActive #u8358-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u5011.MuseMenuActive #u5014-4 p,#u8357:hover #u8358-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4982,#u8377
{
	width: 72px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 69px;
}

#u8378
{
	width: 72px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4983.MuseMenuActive,#u8378:hover
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u8378.MuseMenuActive
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u8379-4
{
	width: 43px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4983.MuseMenuActive #u4985-4,#u8378:hover #u8379-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u8378.MuseMenuActive #u8379-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u8357.MuseMenuActive #u8358-4 p,#u8378:hover #u8379-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4989,#u8370
{
	width: 88px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 143px;
}

#u8373
{
	width: 88px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u8375-4
{
	width: 59px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4990.MuseMenuActive #u4992-4,#u8373:hover #u8375-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u8373.MuseMenuActive #u8375-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u8378.MuseMenuActive #u8379-4 p,#u8373:hover #u8375-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u5017,#u8363
{
	width: 64px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 233px;
}

#u8366
{
	width: 64px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u5018.MuseMenuActive,#u8366.MuseMenuActive
{
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u8368-4
{
	width: 35px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u5018.MuseMenuActive #u5019-4,#u8366:hover #u8368-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 35px;
	margin: 0px -10000px 0px 0px;
}

#u8366.MuseMenuActive #u8368-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 35px;
	margin: 0px -10000px 0px 0px;
}

#u8373.MuseMenuActive #u8375-4 p,#u8366:hover #u8368-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u5003,#u8349
{
	width: 98px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 299px;
}

#u8350
{
	width: 98px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u5006.MuseMenuActive,#u8350.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u8352-4
{
	width: 70px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u5006.MuseMenuActive #u5007-4,#u8350:hover #u8352-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u8350.MuseMenuActive #u8352-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u8366.MuseMenuActive #u8368-4 p,#u8350:hover #u8352-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u5010,#u8342
{
	width: 88px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 399px;
}

#u8345
{
	width: 88px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4990.MuseMenuActive,#u5011.MuseMenuActive,#u8373.MuseMenuActive,#u8345.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u8348-4
{
	width: 60px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u5011.MuseMenuActive #u5014-4,#u8345:hover #u8348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u8345.MuseMenuActive #u8348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u8350.MuseMenuActive #u8352-4 p,#u8345:hover #u8348-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8345.MuseMenuActive #u8348-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

.js #u8340.ose_pre_init,.js #u8384.ose_pre_init,.js #menuu8341.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u4954
{
	z-index: 2;
	min-height: 80px;
	background-color: #101010;
	padding-bottom: 40px;
}

#u4961-4
{
	z-index: 15;
	width: 370px;
	min-height: 35px;
	background-color: transparent;
	line-height: 34px;
	color: #EEEEEE;
	font-size: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 199px;
}

#u4954-bw
{
	z-index: 2;
	min-height: 80px;
}

#u4962
{
	z-index: 20;
	position: relative;
	width: 42px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 706px;
}

#u4962_states
{
	height: 50px;
	width: 42px;
	vertical-align: top;
	background: url("../../images/u4962_states.png") no-repeat 0px 0px;
}

#u4962:hover #u4962_states
{
	background: url("../../images/u4962_states-r.png") no-repeat 0px 0px;
}

#u4963
{
	z-index: 23;
	position: relative;
	width: 42px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 20px;
}

#u4963_states
{
	height: 50px;
	width: 42px;
	vertical-align: top;
	background: url("../../images/u4963_states.png") no-repeat 0px 0px;
}

#u4963:hover #u4963_states
{
	background: url("../../images/u4963_states-r.png") no-repeat 0px 0px;
}

#u5070
{
	z-index: 119;
	width: 728px;
	min-height: 420px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 109px;
	position: relative;
}

#ppu4964
{
	width: 0.01px;
	margin-top: 41px;
}

#u4964
{
	z-index: 26;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u4964.png") no-repeat 0px 0px;
}

#u4964:hover
{
	background: url("../../images/u4964-r.png") no-repeat 0px 0px;
}

#u4967-4
{
	z-index: 34;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u4970-4
{
	z-index: 46;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#ppu4965
{
	width: 0.01px;
	margin-top: 28px;
}

#u4965
{
	z-index: 29;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u4965.png") no-repeat 0px 0px;
}

#u4965:hover
{
	background: url("../../images/u4965-r.png") no-repeat 0px 0px;
}

#u4968-4
{
	z-index: 38;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u4971-4
{
	z-index: 50;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#ppu4966
{
	width: 0.01px;
	margin-top: 29px;
}

#u4966
{
	z-index: 32;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u4966.png") no-repeat 0px 0px;
}

#u4966:hover
{
	background: url("../../images/u4966-r.png") no-repeat 0px 0px;
}

#u4969-4
{
	z-index: 42;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u4973-4
{
	z-index: 58;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#u4973-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 276px;
	margin: 15px 0px 0px 36px;
}

#u4973-4:hover p
{
	text-decoration: underline;
}

#u4974
{
	z-index: 62;
	width: 718px;
	height: 8px;
	border-style: solid;
	border-color: #EEEEEE;
	background-color: transparent;
	margin-left: 30px;
	margin-top: 17px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4972-4
{
	z-index: 54;
	width: 693px;
	min-height: 114px;
	background-color: transparent;
	line-height: 22px;
	color: #B2B2B2;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 38px;
	margin-top: 33px;
	position: relative;
}

#u4975-4
{
	z-index: 63;
	min-height: 70px;
	background-color: #292929;
	border-radius: 1px;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

#u4975-4:hover
{
	background-color: #20CA9C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 70px;
	margin: 0px;
}

#u4975-2
{
	padding-top: 25px;
}

#u4975-4-bw
{
	z-index: 63;
	min-height: 70px;
	margin-top: 50px;
}

#pu4954,#pu4976
{
	width: 0.01px;
}

#u4976
{
	z-index: 67;
	min-height: 57px;
	background-color: transparent;
	padding-bottom: 27px;
}

#u4977-4
{
	z-index: 68;
	width: 370px;
	min-height: 31px;
	background-color: transparent;
	line-height: 29px;
	color: #EDEDED;
	font-size: 13px;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 20px;
}

#u4976-bw
{
	z-index: 67;
	min-height: 57px;
}

#u4978
{
	z-index: 73;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 608px;
	background: url("../../images/u4978.png") no-repeat 0px 0px;
}

#u4978:hover
{
	background: url("../../images/u4978-r.png") no-repeat 0px 0px;
}

#u4979
{
	z-index: 76;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 661px;
	background: url("../../images/u4979.png") no-repeat 0px 0px;
}

#u4979:hover
{
	background: url("../../images/u4979-r.png") no-repeat 0px 0px;
}

#u4980
{
	z-index: 79;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 714px;
	background: url("../../images/u4980.png") no-repeat 0px 0px;
}

#u4980:hover
{
	background: url("../../images/u4980-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

