.version.works_6 /* version checker */
{
	color: #0000E7;
	background-color: #A43568;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #181818;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #181818;
}

#u4123
{
	z-index: 3;
	min-height: 669px;
	padding-bottom: 31px;
	background: transparent url("../../images/06.jpg") no-repeat center center;
	background-size: cover;
}

#pu4192
{
	width: 0.01px;
	margin-right: -10000px;
}

#u4192
{
	z-index: 118;
	width: 80px;
	height: 80px;
	position: relative;
	background: transparent url("../../images/logo-white.png") no-repeat center center;
}

#work
{
	margin-top: 541px;
	position: relative;
}

#pmenuu4149
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 261px;
}

#menuu4149
{
	z-index: 81;
	width: 487px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u4160
{
	width: 67px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4162-4
{
	width: 38px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4160:hover #u4162-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u4160:hover #u4162-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4153
{
	width: 72px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4153:hover
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u4154-4
{
	width: 43px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4153:hover #u4154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u4160.MuseMenuActive #u4162-4 p,#u4153:hover #u4154-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4181
{
	width: 88px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4182-4
{
	width: 59px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4181:hover #u4182-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u4153.MuseMenuActive #u4154-4 p,#u4181:hover #u4182-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4165
{
	width: 64px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4167-4
{
	width: 35px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4165:hover #u4167-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 35px;
	margin: 0px -10000px 0px 0px;
}

#u4181.MuseMenuActive #u4182-4 p,#u4165:hover #u4167-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4186
{
	width: 98px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4188-4
{
	width: 70px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4186:hover #u4188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u4165.MuseMenuActive #u4167-4 p,#u4186:hover #u4188-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4174
{
	width: 88px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4175-4
{
	width: 60px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4174:hover #u4175-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u4186.MuseMenuActive #u4188-4 p,#u4174:hover #u4175-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#buttonu4124
{
	z-index: 4;
	width: 170px;
	border-style: none;
	background-color: transparent;
	margin-left: 38px;
	margin-top: 464px;
	position: relative;
}

#buttonu4124.ButtonSelected
{
	width: 170px;
	min-height: 0px;
	margin: 464px 0px 0px 38px;
}

#u4126
{
	z-index: 5;
	width: 76px;
	height: 50px;
	margin-left: 47px;
	position: relative;
	background: transparent url("../../images/scroll-down.gif") no-repeat center center;
}

#buttonu4124.ButtonSelected #u4126
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 76px;
	height: 50px;
	min-height: 0px;
	margin: 0px 0px 0px 47px;
}

#u4125-4
{
	z-index: 6;
	width: 170px;
	min-height: 17px;
	background-color: transparent;
	line-height: 12px;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-top: 18px;
	position: relative;
}

#buttonu4124.ButtonSelected #u4125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 170px;
	margin: 18px 0px 0px;
}

#u4127-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	margin-left: 70px;
	margin-top: 11px;
	position: relative;
}

#u4123-bw
{
	z-index: 3;
	min-height: 669px;
}

#pu8115
{
	width: 0.01px;
	padding-bottom: 80px;
	margin-top: -620px;
}

#u8115
{
	z-index: 120;
	height: 79px;
	border-style: solid;
	border-color: #181818;
	background-color: #292929;
	border-width: 0px 0px 1px;
}

#u8115-bw
{
	z-index: 120;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 80px;
}

#u8159
{
	z-index: 158;
	width: 80px;
	height: 80px;
	position: fixed;
	top: 80px;
	left: 0px;
	background: transparent url("../../images/logo-white.png") no-repeat center center;
}

#menuu8116
{
	z-index: 121;
	width: 487px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 80px;
	left: 261px;
}

#u4157,#u8131
{
	width: 67px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8132
{
	width: 67px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4160.MuseMenuActive,#u8132.MuseMenuActive
{
	width: 67px;
	min-height: 0px;
	margin: 0px;
}

#u8133-4
{
	width: 38px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4160.MuseMenuActive #u4162-4,#u8132:hover #u8133-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u8132.MuseMenuActive #u8133-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u4174.MuseMenuActive #u4175-4 p,#u8132:hover #u8133-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4150,#u8152
{
	width: 72px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 69px;
}

#u8153
{
	width: 72px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4153.MuseMenuActive,#u8153:hover
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u8153.MuseMenuActive
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u8154-4
{
	width: 43px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4153.MuseMenuActive #u4154-4,#u8153:hover #u8154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u8153.MuseMenuActive #u8154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u8132.MuseMenuActive #u8133-4 p,#u8153:hover #u8154-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4178,#u8145
{
	width: 88px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 143px;
}

#u8148
{
	width: 88px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u8150-4
{
	width: 59px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4181.MuseMenuActive #u4182-4,#u8148:hover #u8150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u8148.MuseMenuActive #u8150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u8153.MuseMenuActive #u8154-4 p,#u8148:hover #u8150-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4164,#u8138
{
	width: 64px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 233px;
}

#u8141
{
	width: 64px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4165.MuseMenuActive,#u8141.MuseMenuActive
{
	width: 64px;
	min-height: 0px;
	margin: 0px;
}

#u8143-4
{
	width: 35px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4165.MuseMenuActive #u4167-4,#u8141:hover #u8143-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 35px;
	margin: 0px -10000px 0px 0px;
}

#u8141.MuseMenuActive #u8143-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 35px;
	margin: 0px -10000px 0px 0px;
}

#u8148.MuseMenuActive #u8150-4 p,#u8141:hover #u8143-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4185,#u8124
{
	width: 98px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 299px;
}

#u8125
{
	width: 98px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4186.MuseMenuActive,#u8125.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u8127-4
{
	width: 70px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4186.MuseMenuActive #u4188-4,#u8125:hover #u8127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u8125.MuseMenuActive #u8127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u8141.MuseMenuActive #u8143-4 p,#u8125:hover #u8127-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u4171,#u8117
{
	width: 88px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 399px;
}

#u8120
{
	width: 88px;
	background-color: transparent;
	padding-bottom: 66px;
	position: relative;
}

#u4181.MuseMenuActive,#u4174.MuseMenuActive,#u8148.MuseMenuActive,#u8120.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u8123-4
{
	width: 60px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 33px;
	left: 14px;
}

#u4174.MuseMenuActive #u4175-4,#u8120:hover #u8123-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u8120.MuseMenuActive #u8123-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u8125.MuseMenuActive #u8127-4 p,#u8120:hover #u8123-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

#u8120.MuseMenuActive #u8123-4 p
{
	color: #20CA9C;
	visibility: inherit;
}

.js #u8115.ose_pre_init,.js #u8159.ose_pre_init,.js #menuu8116.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u4122
{
	z-index: 2;
	min-height: 80px;
	background-color: #101010;
	padding-bottom: 40px;
}

#u4129-4
{
	z-index: 15;
	width: 370px;
	min-height: 35px;
	background-color: transparent;
	line-height: 34px;
	color: #EEEEEE;
	font-size: 28px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 199px;
}

#u4122-bw
{
	z-index: 2;
	min-height: 80px;
}

#u4130
{
	z-index: 20;
	position: relative;
	width: 42px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 706px;
}

#u4130_states
{
	height: 50px;
	width: 42px;
	vertical-align: top;
	background: url("../../images/u4130_states.png") no-repeat 0px 0px;
}

#u4130:hover #u4130_states
{
	background: url("../../images/u4130_states-r.png") no-repeat 0px 0px;
}

#u4131
{
	z-index: 23;
	position: relative;
	width: 42px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 20px;
}

#u4131_states
{
	height: 50px;
	width: 42px;
	vertical-align: top;
	background: url("../../images/u4131_states.png") no-repeat 0px 0px;
}

#u4131:hover #u4131_states
{
	background: url("../../images/u4131_states-r.png") no-repeat 0px 0px;
}

#u4249
{
	z-index: 119;
	width: 728px;
	min-height: 420px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 109px;
	position: relative;
}

#ppu4132
{
	width: 0.01px;
	margin-top: 41px;
}

#u4132
{
	z-index: 26;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u4132.png") no-repeat 0px 0px;
}

#u4132:hover
{
	background: url("../../images/u4132-r.png") no-repeat 0px 0px;
}

#u4135-4
{
	z-index: 34;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u4138-4
{
	z-index: 46;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#ppu4133
{
	width: 0.01px;
	margin-top: 28px;
}

#u4133
{
	z-index: 29;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u4133.png") no-repeat 0px 0px;
}

#u4133:hover
{
	background: url("../../images/u4133-r.png") no-repeat 0px 0px;
}

#u4136-4
{
	z-index: 38;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u4139-4
{
	z-index: 50;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#ppu4134
{
	width: 0.01px;
	margin-top: 29px;
}

#u4134
{
	z-index: 32;
	height: 22px;
	width: 42px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../../images/u4134.png") no-repeat 0px 0px;
}

#u4134:hover
{
	background: url("../../images/u4134-r.png") no-repeat 0px 0px;
}

#u4137-4
{
	z-index: 42;
	width: 256px;
	min-height: 22px;
	background-color: transparent;
	color: #EEEEEE;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 56px;
}

#u4141-4
{
	z-index: 58;
	width: 276px;
	min-height: 22px;
	background-color: transparent;
	line-height: 14px;
	color: #EEEEEE;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#u4141-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 276px;
	margin: 15px 0px 0px 36px;
}

#u4141-4:hover p
{
	text-decoration: underline;
}

#u4142
{
	z-index: 62;
	width: 718px;
	height: 8px;
	border-style: solid;
	border-color: #EEEEEE;
	background-color: transparent;
	margin-left: 30px;
	margin-top: 17px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4140-4
{
	z-index: 54;
	width: 693px;
	min-height: 114px;
	background-color: transparent;
	line-height: 22px;
	color: #B2B2B2;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 38px;
	margin-top: 33px;
	position: relative;
}

#u4143-4
{
	z-index: 63;
	min-height: 70px;
	background-color: #292929;
	border-radius: 1px;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

#u4143-4:hover
{
	background-color: #20CA9C;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 70px;
	margin: 0px;
}

#u4143-2
{
	padding-top: 25px;
}

#u4143-4-bw
{
	z-index: 63;
	min-height: 70px;
	margin-top: 50px;
}

#pu4122,#pu4144
{
	width: 0.01px;
}

#u4144
{
	z-index: 67;
	min-height: 57px;
	background-color: transparent;
	padding-bottom: 27px;
}

#u4145-4
{
	z-index: 68;
	width: 370px;
	min-height: 31px;
	background-color: transparent;
	line-height: 29px;
	color: #EDEDED;
	font-size: 13px;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 20px;
}

#u4144-bw
{
	z-index: 67;
	min-height: 57px;
}

#u4146
{
	z-index: 73;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 608px;
	background: url("../../images/u4146.png") no-repeat 0px 0px;
}

#u4146:hover
{
	background: url("../../images/u4146-r.png") no-repeat 0px 0px;
}

#u4147
{
	z-index: 76;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 661px;
	background: url("../../images/u4147.png") no-repeat 0px 0px;
}

#u4147:hover
{
	background: url("../../images/u4147-r.png") no-repeat 0px 0px;
}

#u4148
{
	z-index: 79;
	height: 30px;
	width: 34px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 714px;
	background: url("../../images/u4148.png") no-repeat 0px 0px;
}

#u4148:hover
{
	background: url("../../images/u4148-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

